body {
  margin: 0px;
  color: #212121;
  background: #FCF1DD;
  font-family: "Roboto", sans-serif;
}
button {
  border: none;
  border-radius: 10px;
  background: #470D57;
  padding: 15px 20px;
  color: #FCF1DD;
  font-family: "Roboto", sans-serif;
}
#Lnav {
  float: left;
}
#Rnav {
  float: right;
}
#nav button {
  position: relative;
  top: -9px;
  margin-left: 10px;
  margin-right: 10px;
}
#nav {
  position: relative;
  top: -45px;
}
#BGnav {
  padding: 32px 49%;
  background: #212121;
}
#text {
  width: 1000px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
  clear: both;
}
#container {
  position: relative;
  top: -42px;
}
.indentation {
  position: relative;
  left: 50px;
}